<article class="log">
  <div class="log-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="log-content">
    <p class="log-text">
      {{pot}}
    </p>
    <p class="log-time">
      {{time}}
    </p>
    <p class="log-state">
      {{conn_state}}
    </p>
    <p class="log-ip">
      {{source_ip}}
    </p>
  </div>
</article>
