<article class="pot">
  <div class="pot-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="pot-content">

    <p class="pot-host">
      {{hostname}}
    </p>
    <p class="pot-port">
      {{port}}
    </p>
    <p class="pot-img">
      {{img}}
    </p>

  </div>

</article>
