.log-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.log {
  flex: 0 1 100%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid var(--color3);
  border-radius: 2px;
  background-color: #fff;
}

.log-icon {
  font-size: 24px;
}

.log-content {
  display: flex;
  margin-left: 10px;
}

.log-content p {
  margin: 0;
  padding-right: 10px;
}

.log-content .log-time .log-state .log-ip {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
