:root {
  --color1: #C9E4CA;
  --color2: #87BBA2;
  --color3: #55828B;
  --color4: #3B6064;
  --color5: #364958;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--color1);
  color: var(--color5)
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 20px 20px;
  font-size: 40px;
  text-align:  center;
  font-weight: bold;
  background-color: var(--color4);
  color: #fff;
}

.navbar {
  background-color: var(--color3);
  font-size: 18px;
  line-height: 22px;
  padding: 2px 0px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.80);

}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding: 0px 12px;
}

a {
  color: #fff;
  font-size: 22px;
  font-weight: 350;
}

a:hover,
a:focus {
  color: var(--color1);
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.hidden {
  display: none;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
