# elasticsearchNodeCount specifies the number of nodes in the Elastic Search cluster. Must be greater than 0.
elasticsearchNodeCount: 3

# elasticsearchImage specifies the Elastic Search image to use. https://hub.docker.com/_/elasticsearch
elasticsearchImage: docker.elastic.co/elasticsearch/elasticsearch:7.17.4@sha256:b3fed35f7a43a3e16aa037bf9c8cb8139d1eec879ab5616f3c20746484de4010


# fluentdImage specifies the FluentD image to use. https://github.com/fluent/fluentd-kubernetes-daemonset
fluentdImage: fluent/fluentd-kubernetes-daemonset:v1.14.6-debian-elasticsearch7-1.0


# kibanaNodePort is the port used to expose Kibana externally.
kibanaNodePort: 30561

# kibanaReplicaCount specifies the number of Kibana pods to run. Must be greater than 0.
kibanaReplicaCount: 1

# kibanaImage specifies the Kibana image to use. https://hub.docker.com/_/kibana
kibanaImage: docker.elastic.co/kibana/kibana:7.17.4@sha256:ddd263a6fa663e514fcfa5b0eae6065dbfcf7c3e62fc646621899ef3b47f7870


# webserverImage specifies the image to use for the honeypot webserver
webserverImage: taylozac/capstone:webserver

# webserverGcpSvcAcct specifies the GCP service account that is to be bound to the service account used by the webserver
webserverGcpSvcAcct:


# managementNamespace specifies what namespace to use for all management pods.
managementNamespace: management

# honeypotNamespace specifies what namespace to use for all honeypots.
honeypotNamespace: pots
